.input1 {
    display: block;
    margin-bottom: 5px;
}

.input2 {
    display: block;
}

.cs-para {
    display: inline-block;
    width: 200px;
    vertical-align: middle;
}

.cs-button {
    display: inline-block;
    vertical-align: middle;
}

.google-img {
    height: 80px;
    margin-left: 40%;
    display: block;
}

.google-input {
    margin-top: 10px;
    height: 40px;
    margin-left: 30%;
    width: 500px;
    border-radius: 20px;
    padding-left: 15px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.name {
    height: 35px;
    width: 130px;
    border: 1px solid gray;
    border-radius: 6px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.email {
    display: block;
    height: 35px;
    width: 278px;
    border: 1px solid gray;
    border-radius: 6px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.sign-up {
    height: 45px;
    width: 290px;
    border: none;
    border-radius: 6px;
    background-color: rgb(0, 119, 255);
    color: white;
    cursor: pointer;
}

.uber-text {
    font-size: 30px;
    font-family: Arial;
    margin-bottom: 20px;
}

.location {
    height: 30px;
    width: 300px;
    display: block;
    margin-bottom: 8px;
    padding-left: 15px;
    border: none;
    background-color: rgb(238, 238, 238);
}

.requestnow {
    height: 30px;
    width: 124px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 0;
    cursor: pointer;
    margin-top: 15px;
}

.schedule {
    height: 30px;
    width: 122px;
    border: none;
    border-radius: 0;
    background-color: rgb(238, 238, 238);
    cursor: pointer;
    margin-top: 15px;
}